@font-face {
font-family: "BoyarskyBold";
src: url("../fonts/BoyarskyBold/BoyarskyBold.eot");
src: url("../fonts/BoyarskyBold/BoyarskyBold.eot?#iefix") format("eot"),
url("../fonts/BoyarskyBold/BoyarskyBold.woff") format("woff"),
url("../fonts/BoyarskyBold/BoyarskyBold.ttf") format("truetype");
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: "ArbatdiBold";
src: url("../fonts/ArbatdiBold/ArbatdiBold.eot");
src: url("../fonts/ArbatdiBold/ArbatdiBold.eot?#iefix") format("eot"),
url("../fonts/ArbatdiBold/ArbatdiBold.woff") format("woff"),
url("../fonts/ArbatdiBold/ArbatdiBold.ttf") format("truetype");
font-weight: bold;
font-style: normal;
}