@import url(reset.css);

body, html {
	font: 12px Arial, sans-serif;
	 position: relative;
      height: 100%;
}

header {
	width: 1000px;
	height: 620px;
	margin: 0 auto;
	background: url(../img/main-bg.jpg) no-repeat;
	position: relative;
}

.container {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}


.logo-top {
	font-size: 32px;
	font-family: "BoyarskyBold", sans-serif;
	color: #428e1b;
	padding: 13px 0 0 125px;
}

.logo {
	font-size: 57px;
	font-family: "BoyarskyBold", sans-serif;
	color: #428e1b;
	position: absolute;
	top: 28px;
	left: 58px;
}

nav {
	position: absolute;
	width: 960px;
	height: 42px;
	background: url(../img/nav-bg.png) repeat-x;
	top: 124px;
	margin: 0 auto;
	border-radius: 5px;
}

.nav ul li {
	float: left;
	box-shadow: 1px 0 0 0 #406607, 2px 0 0 0 #60a62f;
}

.nav a {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
	
}

.nav ul li:last-child {
	box-shadow: none;
}

form {
	float: right;
	width: 242px;
	height: 25px;
	background: #fff;
	margin: 8px 20px;
	border-radius: 5px;
}

.text-fild input{
	float: left;
	width: 180px;
	border: none;
	color: #a09d9d;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 3px 10px;
	margin: 2px 0 0 2px;
	border: none;
	outline: 0;
}

form input{
	outline: 0;
	margin: 4px 0 0 6px;
}

.content {
	width: 960px;
	height: 425px;
	position: relative;
	top: 161px;
	left: 194px;
	padding-top: 20px;	
}

.content-top {
	overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 430px;
    top: 130px;
}
.swiper-slide {
  	text-align: center;
  	font-size: 18px;
  	background: #fff;
  	/* Center slide text vertically */
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	-webkit-justify-content: center;
  	justify-content: center;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	-webkit-align-items: center;
  	align-items: center;
} 

.swiper-wrapper {
	height: 380px !important;
}

.swiper-pagination-bullet-active {
	width: 9px;
	height: 9px;
    opacity: 1;
    background: #89c364 !important;
}

.swiper-pagination-bullet {
	bottom: -25px;
	border: solid 3px #e6e5e5 !important;
	border-radius: 50% !important;
	width: 8px !important;
	height: 8px !important;
    opacity: 1;
    background: #89c364 !important;
}

.content-bottom {
	position: relative;
}

.company {
	position: relative;
	width: 600px;
	height: 400px;
}

.company a {
	background: url(../img/company-button.png) no-repeat;
	font-size: 20px;
	color: #fff;
	padding: 33px 10px 10px 20px;
	text-decoration: none;
}

.company a:hover, .sidebar a:hover, form input:hover, nav a:hover{
	opacity: 0.9;
}

.company-button {
	position: absolute;
	top: -86px;
	left: -11px;
}

.green-line-left {
	height: 2px;
	width: 344px;
	position: absolute;
	background: #5aa515;
	top: -25px;
}

.promo {
	margin-top: 50px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.company-bg {
	overflow: hidden;
	float: left;
	padding: 0 10px 5px 0;
}

.promo p {
	line-height: 1.5em;
	font-weight: normal;
}

.sidebar {
	position: relative;
	float: right;
	overflow: hidden;
	width: 355px;
	height: 490px;
	margin-top: -70px;
}

.sidebar a {
	font-size: 20px;
	padding: 33px 61px 10px 41px;
	text-decoration: none;
	color: #fff;
	background: url(../img/catalog-button.png) no-repeat;
}

.catalog {
	margin: 25px 0;
}

.catalog-line {
	height: 1px;
	background: url(../img/catalog-bg.png) repeat-x;
}

.catalog-button {
	position: absolute;
	top: -15px;
	right: 193px;
}

.green-line-right {
	height: 2px;
	width: 344px;
	position: absolute;
	background: #5aa515;
	top: 47px;
	right: 7px;
}

.sidebar-content {
	margin-top: 72px;
	margin-left: 3px;
}

.shampoo a {
	font-size: 18px;
	color: #265a06;
	background: none;
	text-decoration: underline;
	padding: 0;
}

.shampoo {
	float: right;
	width: 280px;
	margin-top: -2px;
	margin-bottom: 8px;
}

.icon {
	float: left;
	vertical-align: middle;
	width: 39px;
	padding: 2px 12px;
	border: solid 1px #d9d9d9;
	text-align: center;
}

#icon-2 {
	padding: 4px 18px 2px 6px !important;

}

.price a {
	font-size: 11px;
	padding: 11px 27px;
	background: url(../img/button-small.png) no-repeat;
}

footer {
	width: 1000px;
	height: 90px;
	margin: 0 auto;
	background: url(../img/footer-bg.png) no-repeat;
	margin-top: 30px;
}

.footer-promo {
	float: left;
	font: 24px "ArbatdiBold", sans-serif;
	color: #335f1c;
	width: 200px;
	height: 30px;
	padding-top: 22px;
	padding-left: 145px;
}

.footer-contacts {
	font: 37.35px "ArbatdiBold", sans-serif;
	float: left;
	color: #335f1c;
	width: 280px;
	height: 40px;
	padding-top: 12px;
	letter-spacing: -0.04em;
}

.footer-icon {
	float: left;
	width: 50px;
	height: 40px;
	padding-top: 31px;
}

