@media screen and (max-width: 992px) {
  body {
    font-size: 20px; }
    body header {
      padding: 3rem 0rem; }
    body .popcat {
      font-size: 1em; }
    body .popgoods .row {
      padding: 0; }
      body .popgoods .row .title {
        margin: 0; }
      body .popgoods .row h4 {
        padding: 1rem;
        margin: 1rem 3rem; }
      body .popgoods .row div {
        margin-bottom: 1.5rem; }
    body .form-zamer button {
      margin-bottom: 1.5rem; } }

@media screen and (max-width: 768px) {
  body .title:before, body .title:after {
    content: '';
    display: none; }
  body header p {
    font-size: 0.8em;
    text-align: center; } }
